<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>104890257472-tspp3jm615qjnqrvgsu7fa5ucd0inthn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.104890257472-tspp3jm615qjnqrvgsu7fa5ucd0inthn</string>
	<key>API_KEY</key>
	<string>AIzaSyBZhlOvHrnLvJcR6vA0IFPgmZg5jwOS_yg</string>
	<key>GCM_SENDER_ID</key>
	<string>104890257472</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bahanatcw.dams</string>
	<key>PROJECT_ID</key>
	<string>dams-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>dams-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:104890257472:ios:82757ed6fe45b57f0b8fa5</string>
</dict>
</plist>